body{
    background-image: url(Sunshine.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#fan {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: fan-spin 1s infinite linear;
}

.Guy {
    position: absolute;
    bottom:0;
    right:0;
    content:url(https://c7.alamy.com/comp/3D1XY3P/happy-smiling-guy-on-pink-background-contentment-happiness-satisfaction-euphoria-ecstasy-3D1XY3P.jpg)
}

#fan:hover { 
    animation-play-state: paused;
}

#fan:hover + .Guy + #wind { 
    animation-play-state: paused;
}

#fan:hover + .Guy + #wind li { 
    opacity: 0;
}

#fan:hover + .Guy {
    content:url(https://c7.alamy.com/comp/3D1XY63/sweaty-exhausted-man-using-paper-fan-suffer-from-heat-overheating-stuffiness-hot-weather-concept-3D1XY63.jpg)
}

@keyframes fan-spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(180deg); }
}

#wind {
    position: absolute;
    bottom: 0;
    animation: wind-blow 3s infinite linear;
    list-style-type: none;
}

@keyframes wind-blow {
    0%   { opacity: 1; left:0; }
    100% { opacity: .0; left: 1200px; }
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
}

#fan + .Guy + #wind + h1 + h1{ 
    opacity: 0;
}

#fan:hover + .Guy + #wind + h1{ 
    opacity: 0;
}

#fan:hover + .Guy + #wind + h1 + h1{ 
    opacity: 100;
}