body {
    margin: 0;
    padding-top: 4rem;
    background-color: #FEFEF5;
}


/*HEADER*/

header {
    position: fixed;
    top: 0;
    background-color: black;
    width: 100%;
    height: 2em;
    padding: 1rem;
    z-index: 2;
}

header div {
    max-width: 960px; 
    margin: 0rem auto;
}

header h1 {
    margin: 0;
    float: left;
    color: #EB0800;
}

header nav {
    padding: .5em;
    width: 50%;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
}

header nav a {
	color: #EB0800;
	font-weight: bold;
	text-decoration: none;
	font-style: italic;
	text-transform: uppercase;
}


/*MAIN*/

main {
    max-width: 960px;
    margin: 0rem auto;
    text-align: center;
}

h2 {
    color: #EB0800;
    background-color: white;
    padding-top: .1rem;
    padding-bottom: .1rem;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

/*CAROUSEL*/

#myCarousel{
    margin: 0rem auto;
    max-width: 840px;
}

.f-progress {
    display: none;
}

.f-carousel__dots {
    display: none;
}

.f-button {
    opacity: 50%;
    color: blue;
    border-radius: 50%;
    background-color: white;
}

div .f-carousel__slide {
    border-radius: 20px;
}

.carousel{
    margin: 0rem auto;
    width:100%
}

img {
   border-radius: inherit;
}

#carousel:hover {
    filter:grayscale(60%);
}

#carousel:hover + .centered {
    opacity: 100%
}

.centered {
    font-size: 32px;
    color: white;
    opacity: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*About*/

#about {
    width: 100%;
    max-width: 800px;
    margin: 0rem auto;
}









/*Projects*/

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    border-radius: 0px;
    margin: 0rem auto;
    width: 100%;
    max-width: 800px;
}

.project {
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto center;
    border-radius: 10px;
}

.project:hover {
    filter:grayscale(60%);
}

.centered2 {
    width: 5rem;
    height: 5rem;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.750);
    border-radius: 10px;
    border: solid 3px black;
    color: black;
    opacity: 0%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project:hover > .centered2 {
    opacity: 100%
}

#p1 {background-image: url("Screen2Thumb.png");}
#p2 {background-image: url("Land2Thumb.png");}
#p3 {background-image: url("RenPy3Thumb.png");}
#p4 {background-image: url("Space2Thumb.png");}

.project a{
    text-decoration: none;
}

/*Contact*/

#contact {
    width: 100%;
    max-width: 800px;
    margin: 0rem auto;
    margin-bottom: 1rem;
}











/*  Media Queries (responsive to screen width) */
@media all and (min-width: 30rem){
    #carousel {width: 95%;}
    #myCarousel {width: 100%;}
}

@media all and (min-width: 50rem){
    nav {width: 600px;}
    #projects {grid-template-columns: repeat(4,1fr); }
    h2 {color: black; background-color: transparent; border: transparent;}
}